<!-- 
    we are creating a live server
    1-a db.json file created
    2-went assets file through terminal
        ren the following command
        command----------- json-server --watch db.json
const routes: Routes = [
  {
    path:'',
    redirectTo:'/login',
    pathMatch:'full',
    children:[
      {
        path:'register',
        component:RegisterComponent
      }
    ]
  }
];

    we are expecting whenever register button clicked---- all data should go to the server


    JIT-just in time compiler/AOT-angular AOT
    Aot what does-
      1-analyses all the phase related to compiler
        Generating a error-related to angular component.
      2-after template will be render(using aot concept angular>9.xxx)
 -->


<router-outlet></router-outlet>