<!-- 
    we are creating a live server
    1-a db.json file created
    2-went assets file through terminal
        ren the following command
        command----------- json-server --watch db.json
const routes: Routes = [
  {
    path:'',
    redirectTo:'/login',
    pathMatch:'full',
    children:[
      {
        path:'register',
        component:RegisterComponent
      }
    ]
  }
];

    we are expecting whenever register button clicked---- all data should go to the server
 -->


<router-outlet></router-outlet>